<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         backupGlobals="false"
         bootstrap="tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         stopOnFailure="false"
         timeoutForSmallTests="10"
         timeoutForMediumTests="30"
         timeoutForLargeTests="60"
         verbose="true">
    <testsuites>
        <testsuite name="wikidata-search">
            <directory>tests/phpunit</directory>
        </testsuite>
    </testsuites>
</phpunit>
